* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header .container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
}

header {
  padding: 20px 20px;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px 0 100px;
  margin: 20px auto;
}

a.navbar-logo {
  height: 70px;
  margin-right: 20px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

span.logo_title {
  font-size: 36px;
  font-weight: 300;
  line-height: 30px;
  text-shadow: 1px 1px 0 #ffffff;
}

span.logo_subtitle {
  font-size: 20px;
  font-weight: 200;
  line-height: 20px;
}

.nav-navbar {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-navbar li {
  padding: 10px;
}

.nav-navbar li a {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #123b37;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.nav-navbar li a:after {
  content: "";
  position: absolute;
  background-color: #123b37;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -20px;
  transition: 0.2s;
}

.nav-navbar li a:hover:after {
  width: 100%;
}

.pattern {
  position: relative;
  background: url(../images/cubepattern.jpg);
  background-position: left top;
  background-repeat: repeat;
  background-size: 1920px auto;
  overflow: hidden;
}

.pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.7;
  pointer-events: none;
}

.pattern .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: left;
  z-index: 9;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 50px;
}

.row {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.center-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.overview {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.check-list {
  min-height: 148px;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #123b37;
}

.check-list .first-row,
.check-list .second-row,
.check-list .third-row {
  flex-basis: 30%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 10px;
  flex-direction: row;
}

.text-columns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.check-list .column1 h3 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

.check-list .column2 p {
  font-size: 20px;
  color: white;
}

.check-list i {
  font-size: 50px;
  color: white;
  align-self: center;
}

.footer-container {
  min-height: 20px;
  padding: 18px 40px;
  opacity: 0.7;
}

.footer-pattern {
  background: red, url(../images/cubepattern.jpg);
  background-position: left top;
  background-repeat: repeat;
  background-size: 1920px auto;
  height: 10vh;
  padding: 10px;
  overflow: hidden;
  mix-blend-mode: multiply;
}

.footer-pattern {
  position: relative;
  background: url(../images/cubepattern.jpg);
  background-position: left top;
  background-repeat: repeat;
  background-size: 1920px auto;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

.footer-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.7;
  pointer-events: none;
}

.footern-pattern .footer-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-align: left;
  z-index: 9;
}

.footer-text h6 {
  font-size: 15px;
}
